<h1>You alergic!</h1>

<p>What is your allergy score</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="allergenScore">Enter your score here!</label>
    <input id="allergenScore" name="allergenScore" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-danger">Go!</button>
</form>
